{% extends 'layout.twig' %}

{% block content %}
    <div id="game">
        <p class="p_404">DESGRACIADAMENTE HEMOS RECORRIDO TODA LA CARRETERA SIN ENCONTRAR LO QUE BUSCA</p>
        <h1 class="h1_404">404</h1>
        <div id="car"></div>
        <div class="yol_cizgisi"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{  '' | url }}js/app.js"></script>
{% endblock %}